.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
li.botRow{
  display: flex;
  justify-content: space-around;
  margin: 0;
  border: none;
  height: 20px;
  padding: 0;
}
li.botRow div{
  width: 20vw;
  margin-top: -1px;
  border: .1px solid rgb(221, 221, 221);
  text-align: center;
  height: 20px;
  padding-top: 3.5px;
  font-size: 8px;
}
li.botRow h2{
  margin-top: 1px;
  font-size: 8px;
  font-weight: bold;
}
li.botRow:nth-child(even) {
  background-color: #f9f9f9;
}
li:first-child div{
  padding-top: 5px;
}
button.listButton {
  max-height: 13px;
  font-size: 7px;
  line-height: 2px;
  padding: 3px;
  padding-top: 1.333333333333px;
}

.tableBorder{
  padding: 7px;
  border: .5px solid rgb(221, 221, 221);
  margin: 23px;
  background-color: white;
}
.tableBorder ul{
  margin-bottom: 0;
}
.buttonIcon{
  margin: 1px;
  margin-bottom: 2px;
  margin-right: 4px;
}
