.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.tablePage table{
width: 60vw;
margin: auto;
}
.botRow{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.botRow div{
  width: 18vw;
}
button.deleteButton {
  max-height: 14px;
  font-size: 7px;
}
button.editButton {
  max-height: 14px;
  font-size: 7px;
}
button.exportButton {
  max-height: 14px;
  font-size: 7px;
}
/* li.botRow{ not working yet 
  background-color: grey;
} */
